*{
    padding: 0;
    margin: 0;
}

:root{
    --cor-principal: #f34d25;
    --cor-secundaria: #c5c5c5;
    --cor-terciaria: #e9e9e9;
    --cor-hover-menu: #495050;
}

body{
    background-color: var(--cor-secundaria);
    width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.header{
    display: flex;
}

.header_logo_content{
    margin-left: 10%;
    margin-top: 6%;
    background-color: var(--cor-terciaria);
    width: 200px;
    height: 120px;
    border-radius: 15px;
    z-index: -2;
    left: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    flex-direction: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header_logo_content img{
    width: 100%;
}

.header_page_top{
    position: absolute;
    background-color: var(--cor-principal);
    width: 100%;
    height: 15%;
    z-index: -3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.header_page_top_navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: var(--cor-principal);
}

.header_page_top_navbar_item {
    float: left;
}
  
.header_page_top_navbar_item a{
  display: block;
  color: var(--cor-terciaria);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header_page_top_navbar_item a:hover{
    background-color: var(--cor-terciaria);
    color: var(--cor-hover-menu);
    border-radius: 5%;
}

.principal{
    position: absolute;
    z-index: -3;
    top: 16%;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 2%;
}

.principal_container_mensagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal_paragrafo{
    color: var(--cor-hover-menu);
}

.principal_paragrafo_destaque{
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 35px;
}

.principal_conteudo_gravacao{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 20%;
    align-items: center;
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--cor-terciaria);

}

.principal_conteudo_gravacao_labbels{
    color: var(--cor-hover-menu);
    padding-bottom: 8px;
}

.principal_conteudo_gravacao_selects{
    width: 80%;
    text-align: center;
    border-radius: 20px;
}